/*html, body {
  margin: 0;
}

#particle-canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
  vertical-align: middle;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/


body {
  background: lighgrey;
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  background: url(https://media.giphy.com/media/3o6Ztb45EYezY9x9gQ/giphy.gif);
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 10rem;
  font-weight: bold;
  font-family: sans-serif;
}