.image1{
	position: absolute;
	margin-left: 0vw;			/*scet 25 image*/
	margin-top: -42vw;
}

.image2{
	position: absolute;
	margin-left: 78vw;			/*xitij image*/
	margin-top: -42vw;
}



.scet{
	/*font-family: 'Acme', sans-serif;*/
	position: absolute;
	font-size: 2.8vw;
	margin-top: -39vw;
	margin-left: 17vw;
	text-align: center;
	color: white;
	color: yellow;
}

.U {
	position: absolute;
	margin-top: -30%;
	margin-left: -53%;
		width: 50%;
		
		
		display: inline-block;
		-webkit-animation: rotation 2s infinite linear;
}


@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotateY(0deg);
		}
		to {
				-webkit-transform: rotateY(359deg);
		}
}

.pdates2k19{
	color: white;
	position: absolute;
	margin-left: -23%;
	margin-top: -32%;
	font-size: 10vw;

}

.tagline{
	position: absolute;
	color: yellow;
	margin-left: 35%;
	margin-top: -17%;
	font-size: 3vw;
}

.date{
	position: absolute;
	color: yellow;
	margin-left: 32%;
	margin-top: -10%;
	font-size: 2vw;
}

#screen{

      -webkit-animation: colorchange 10s;
      -webkit-animation-iteration-count: infinite;
      background-color: red;
    }

/*.navbar{
	-webkit-animation: colorchange 10s;
	-webkit-animation-iteration-count: infinite;
}*/

    /*@keyframes colorchange
    {
      0%   {background: #008080;}
      20%  {background: #666633;}
      40%  {background: gray;}
      80%  {background: #666699;}
      100%  {background: #006666;}
    }

    @-webkit-keyframes colorchange
    {
      0%   {background: #008080;}
      20%  {background: #666633;}
      40%  {background: #006600;}
      80%  {background: #666699;}
      100%  {background: #006666;}
	}*/



/*#scet {
	margin-top: 7%;
	font-size:8vh;
	
}

#welcome {
	font-size:4vh;
	
}

#updates2k19 {
	font-family: 'Saira Stencil One', cursive;
	font-size:20vh;
	color: white;
	
}

#tagline {
	margin-top: -2%;
	font-size:6vh;
}

#date {
	font-size:4vh;
	
}

#screenbtn {
	padding-top: 2%;
 	padding-bottom: 2%;
	width: 5%;
}

#marque{
	-webkit-animation: colorchange 10s;
	-webkit-animation-iteration-count: infinite;
	background-color: #9cf196;
}
*/
@media screen and (max-width: 768px) {
 	.image1{
 		width: 50%;
	position: absolute;
	/*margin-left: 0vw;*/			/*scet 25 image*/
	margin-top: -150%;
}

.image2{
	width: 50%;
	position: absolute;
	margin-left: 50%;			/*xitij image*/
	margin-top: -150%;
}
.scet{
	position: absolute;
	font-size: 7vw;
	margin-top: -110%;
	margin-left: 0%;
	text-align: center;
	color: white;
	color: yellow;
}

.U {
	position: absolute;
	margin-top: -82%;
	margin-left: -70%;
		width: 60%;
		
		
		display: inline-block;
		-webkit-animation: rotation 2s infinite linear;
}


@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotateY(0deg);
		}
		to {
				-webkit-transform: rotateY(359deg);
		}
}

.pdates2k19{
	color: white;
	position: absolute;
	margin-left: -35%;
	margin-top: -87%;
	font-size: 15vw;

}

.tagline{
	position: absolute;
	color: yellow;
	margin-left: 30%;
	margin-top: -60%;
	font-size: 5vw;
}

.date{
	position: absolute;
	color: yellow;
	margin-left: 10%;
	margin-top: -50%;
	font-size: 5vw;
}	
}


/*=========================================================================================================*/

